{{!-- views directory is compulsory --}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, eum unde animi quod officia rerum, quis totam
        repellat possimus facere at! Suscipit dolores delectus at vero voluptate voluptates sit assumenda!</h1>
</body>

</html>